body{
    margin: 40px;
}
.box{
    background-color: #5e5959;
    color: #e4d6d6;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    order: 1;
}
.box:nth-child(even){
    background-color: #c9c9c9;
    color: #000;
}
.container{
    width: 600px;
    display:grid;
    grid-template-columns:repeat(6,100px);
    grid-gap:10px;
}
.box1{
    order: 3;
}
.box2{
    order:6
}
.box8{
    order: 2;
}